@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }



/* INICIO SESIÓN - REGISTRO - PACIENTE*/
body {
    background: linear-gradient(rgba(5,7,12,0.70), rgba(5,7,12,0.70)), 
    url(../img/bg_main3.jpg) no-repeat center center fixed;
    background-size: cover;
}
.globalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.titulo h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    color: white;
}
.titulo h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem; 
    color: white;
}
.titulo p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    color: white;
}
.formContainer {
    margin-top: 2rem;
}
.formContainer h2{
    font-family: 'Rubik', sans-serif;
    color: white;
}
.parrafoFinal {
    color: white;
}

/* SOLICITUD ESTUDIOS */

/* Header */
.tituloHeader {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
/* Main */
#principal {
    background: linear-gradient(rgba(5,7,12,0.5), rgba(5,7,12,0.5)), 
    url(../img/bg_main.jpg) no-repeat center center fixed;
    background-size: cover;
}
/* Cards */
.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(rgba(5,7,12,0.7), rgba(5,7,12,0.7));
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}
.card img {
    width: 100%;
    height: 250px;
}
.contenido {
    padding: 10px;
    text-align: center;
}
.contenido h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}
.contenido p {
    font-family: 'Rubik', sans-serif;
    color: white;
}
.contenido button {
    display: inline-block;
    padding: 10px;
    color:  #2980b9 ;
    margin-top: 10px;
    border: 1px solid  #2980b9 ;
    border-radius: 4px;
    transition: all 400ms ease;
}
.contenido button:hover {
    background-color:#2980b9;
    color: white;
}
/* Datos paciente */
.datosPaciente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(5,7,12,0.7), rgba(5,7,12,0.7));;
    margin-top: 5rem;
}
.datosPaciente h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3rem;
}
.datosPaciente p {
    font-family: 'Rubik', sans-serif;
    color: white;
}
/* Tabla */
.tableContainer {
margin: 50px auto;
width: 600px;
background:linear-gradient(rgba(5,7,12,0.7), rgba(5,7,12,0.7));;
}
.tableContainer h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
}
table {
    width: 100%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}
thead {
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
}
tr:hover td {
    background-color: #369681;
    color: white;
}
/* Finalizar */
.finalizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(rgba(5,7,12,0.7), rgba(5,7,12,0.7));
}
.styleMensajeFinal {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    color: white;
}


/* MEDIA QUERIES */
@media (max-width:992px) {
    .titulo h1 {
        font-size: 3rem;
    }
    body {
        background: linear-gradient(rgba(5,7,12,0.70), rgba(5,7,12,0.70)), 
        url(../img/bg_main3.jpg) no-repeat center center fixed;
        background-size: cover;
    }
}
@media (max-width:768px) {
    .titulo h1 {
        font-size: 2.5rem;
    }
    .titulo h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .titulo p {
        font-size: 1.2rem;
        text-align: center;
    }
    .formContainer {
        margin-top: 2rem;
    }
    nav .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:320px) and (max-width:576px) {
    .titulo h1 {
        font-size: 2.2rem;
        text-align: center;
    }
    .titulo h2 {
        font-size: 1.2rem;
        text-align: center;
    }
    .titulo p {
        font-size: 1rem;
        text-align: center;
        margin: 1rem;
    }
    .formContainer h2 {
        font-size: 1.5rem;
    }
    .tituloHeader {
        font-size: 1.5rem;
    }
    nav .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 220px;
    }
    .card img {
        width: 100%;
        height: 200px;
    }
    .contenido {
        padding: 5px;
        text-align: center;
    }
    .contenido h2 {
        font-size: 1.5rem;
    }
    .contenido p {
        font-size: 1rem;
    }
    .datosPaciente h2 {
        font-size: 2rem;
    }
    .datosPaciente p {
        font-size: 1rem;
    }
    .tableContainer {
        margin: 50px auto;
        width: 100%;
    }
    .tableContainer h2 {
        font-size: 2rem;
    }
}
